header{
  margin:auto -16px;
  background-color:chocolate;
  color:white;
  padding:16px 32px ;
}
header h1{
  font-family:cursive;
  font-weight:200;
  font-size:40px;
}
footer{
  margin-top:480px;
  text-align:center;
  color:dimgrey;
}
.note{
  border-radius:7px;
  box-shadow: 0px 2px 5px black;
  padding:10px;
  width:240px;
  margin:16px;
}
.note{
  font-style:italic;
}
.heading{
  text-align:center;
  font-size: 35px;

}
.name{
  font-size:2em;
  color:black;
  margin:6% 20px 0;
}
.card{
  border-radius:20px;
  position:relative;
  background-color:burlywood;
  margin:5rem;
  height:200px;
  width:400px;
  text-align:left;
  padding:15px;
  box-shadow: 0px 2px 5px;

}
.top{
  background-color:saddlebrown;
  position:absolute;
  height:100px;
  top:0;
  left:0;
  width:100%;
  border-radius: 20px 20px 0 0;

}
.card img{
  margin:-20px 280px;
}
.circle-img{
  border-radius: 50%;
  border:7px solid white;
  width:120px;
  height:120px;
}
.bottom{
  margin-top:120px;
}
.info{
  color:black;
  margin:20px 0;
  

}
input{
  text-align:center;
  display:block;
  margin:25px;
  font-size:15px;
  background-color:bisque;
  border-radius: 5px ;
  border:5px whitesmoke;
  top:0;


}

button{
  background-color:bisque;
  color:lightseagreen;
  font-size: 15px;
  border-radius: 5px;
  display:block;
  margin:auto;
  border:5px whitesmoke;
}
.container{
  justify-content: center;
  background-color:peru;
  width:20%;
  border-radius: 5px;
  margin:auto;
  height:70%;

}
h1{
  text-align:center;
  font-size: 45px;
}
.Event{
  text-align:center;
  margin:50px;

}
.Event h1{
  color:black;
  text-align:center;
  font-family:'Times New Roman', Times, serif;
}
body{
  background-color: darksalmon;
}
.Event input{
  display:block;
  margin:auto;
  padding:5px;

}
.Event button{
  position:absolute;
  margin-left:43%;
  bottom:-343%;
}




